@font-face {
  font-family: "Network Sans Regular";
  src: local("Network Sans Regular"),
    url(./fonts/NETWORKSANS-2019-REGULAR.TTF) format("truetype");
}
@font-face {
  font-family: "Network Sans Medium";
  src: local("Network Sans Medium"),
    url(./fonts/NETWORKSANS-2019-MEDIUM.TTF) format("truetype");
}
@font-face {
  font-family: "Network Sans Light";
  src: local("Network Sans Light"),
    url(./fonts/NETWORKSANS-2019-LIGHT.TTF) format("truetype");
}
@font-face {
  font-family: "Network Sans Bold";
  src: local("Network Sans Bold"),
    url(./fonts/NETWORKSANS-2019-BOLD.TTF) format("truetype");
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Saira Extra Condensed", "Network Sans Regular", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selector-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector {
  padding: 10vw;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.banner {
  display: flex;
  background: #003cdc;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin: 0px auto;
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.title {
  color: white;
  margin: 0px;
  font-size: 2.5rem;
}

.routes-container {
  width: 100vw;
  margin: 2.5vh;
}

.tram-routes {
  margin: 4vh !important;
}

.departure-container {
  /* background: #0072ce; */
  background: #003cdc;
  height: 150px;
  border-radius: 75px;
  align-items: center;
  display: flex;
  color: white;
  /* font-family: "Network Sans Bold"; */
  font-family: "Open Sans";
  font-weight: 700;
  margin: 20px;
  padding: 0px 20px;
  width: 95vw;
}

.name,
.service,
.departing,
.platform {
  border-right: 3px solid white;
  padding: 0px 20px;
  height: 100%;
}

.name.tram.long {
  font-size: 2.5rem !important;
  line-height: 175% !important;
}

.name.tram {
  font-size: 3rem !important;
  line-height: 150% !important;
}

.name.tram .swiper {
  font-size: 2.5rem !important;
  padding-left: 30px;
}

.emoji {
  font-size: 2.5rem;
}

.name,
.departing {
  line-height: 250%;
  font-size: 3.5rem;
}

.name {
  width: 35%;
  text-align: left;
}

.departing {
  width: 15%;
}

.platform {
  width: 7.5%;
  font-size: 1.5rem;
  height: 150px;
  line-height: 50px;
}

.number {
  font-size: 3.5rem;
}

.disruptions {
  font-size: 1.5rem;
  padding: 0px 20px;
  width: 40%;
}

.disruptions.tram {
  width: 32.5% !important;
}
