body {
  overflow: hidden;
  margin: 0;
  font-family: "Saira Semi Condensed", "Open Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.banner {
  display: flex;
  background: #131922;
  align-items: center;
  justify-content: center;
  height: 12.5vh;
  padding-top: 25px;
  margin-bottom: -25px;
}

.logo {
  margin: 5px 25px 0px auto;
  height: 75px;
  width: 75px;
}

.title {
  color: white;
  margin: 0px;
  font-size: 3rem;
  font-weight: 400;
}

.routes-container {
  width: 70vw;
}

.tram-routes {
  margin: 4vh !important;
}

.departure-container {
  background: #1e2735;
  height: 90px;
  border-radius: 75px;
  align-items: center;
  display: flex;
  color: white;
  margin: 20px;
  padding-left: 20px;
  width: 65vw;
}

.departure-container.tram {
  background: #78be20 !important;
}

.name,
.departing {
  padding: 0px 10px;
  height: 100%;
}

.name.tram.long {
  font-size: 2.5rem !important;
  line-height: 175% !important;
}

.name.long {
  font-size: 3rem !important;
  line-height: 175% !important;
}

.name.tram {
  font-size: 3rem !important;
  line-height: 150% !important;
}

.name.tram .swiper {
  font-size: 2.5rem !important;
  padding-left: 30px;
  margin-right: -23px;
}

.emoji {
  font-size: 2.5rem;
}

.name {
  line-height: 175%;
  font-size: 3.25rem;
  width: 32.5%;
  text-align: left;
  font-weight: 700;
}

.departing {
  width: 62.5%;
  line-height: 200%;
  font-size: 2.85rem;
  text-align: left;
}

.remaining {
  width: 15%;
  height: 100%;
  background-color: white;
  border-radius: 50px;
  line-height: 200%;
  font-size: 3rem;
  padding: 0px 10px;
  margin-right: -25px;
}

.remaining-number {
  font-weight: 700;
}

.disruptions {
  font-size: 1.5rem;
  padding: 0px 20px;
  width: 40%;
}

.disruptions.tram {
  width: 32.5% !important;
}
